<p>Available Images:</p>
{{#each images as |image|}}
<p>{{image}} <a href="/download-image?dir={{@root.imageDir}}&file={{image}}">DOWNLOAD</a></p>
{{/each}}

<p>Lets resize some images!</p>

<form id="upload-image"action="/upload-image" method="POST" encType="multipart/form-data">
<label>FILE: </label>
<input name="image" type="file"/>
</br>
<label>FILENAME: </label>
<input name="filename" type="text"/>
</br></br>
<button type="submit" form="upload-image">Resize!</button>
</form>
